<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogPoster</title>
    <link rel="stylesheet" href="/public/css/jass.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <a href="/">Blog Poster</a>
        </h1>
        <nav>
          <!--  Render the login or logout links depending if you are logged in or out -->
          {{#if logged_in}}
            <a href="/profile">Profile</a>
            |
            <button class="no-button" id="logout">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render for logged in users  -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>